.top{
    border-bottom: 1px solid black;
}
.top1 .firstimage{
    width: 100%;
    height:500px;

}
.top1 ul{
   margin-left: 30%;
}
.top1 ul li{
    display:inline-block;
}
.top1 ul li img{
    width:50px;
}
.yolo{
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color:pink;
}

.top2 {
    float:right;
    margin-top:10px;
    margin-right: 25px;
 }
 .top2 li{
     display:inline-block;
 }
 .top2 li img{
     width:50px;
 }

 /* navbar */
 .navbar{
     padding: 30px;
     font-size: 25px;
 }

/* main */
.mainintro h1{
    padding:15px;
}
.mainintro p{
    font-size: 20px;
}

 .available{
    margin: 20px 20px 20px 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background: pink;
    transition: all 300ms linear 0s;
}
.available:hover{
    box-shadow: 0px 20px 30px rgb(255,0,127);
}
.available .btn2{
    margin-bottom: 30px;
    padding: 8px 20px;
    background-color:#ff1493;
    border-radius: 5px;
    font-weight: lighter;
    margin-right: 10px;
}
.available .btn2:hover{
    background-color: skyblue;
}
.available img{
    margin-bottom: 30px;
    height: 70px;
}
  

/* featured */
.featured{
    margin: 20px 20px 20px 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: all 300ms linear 0s;
}
.featured img{
    width:100%;
    border-radius: 5px;
}

/* videos */
.videoimage{
    margin: 20px 20px 20px 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background: pink;
    transition: all 300ms linear 0s;
}
.videoimage h5{
    color:skyblue;
}
.videoimage h2{
    color:pink;
}


/* secondlast */
.secondlast{
    margin: 20px 20px 20px 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background: pink;
    transition: all 300ms linear 0s;
}
.secondlast:hover{
    box-shadow: 0px 20px 30px rgb(255,0,127);
}
.secondlast .btn1{
    margin-bottom: 30px;
    padding: 8px 20px;
     background-color:#ff1493;
     border-radius: 5px;
     font-weight: lighter;
}
.secondlast .btn1:hover{
    background-color: skyblue;
}
.secondlast img{
    margin-bottom: 30px;
    height: 100px;
}

/* footer */
.footerheading{
    font-size: 23px;
    padding: 20px;
}